extend layout/layout
block content   
    .fakeLoader
    .menuMobile.full
      img.square2.logo(src="http://s5.postimg.org/54x5aowsz/logo_Chapa.png")
      button.menu-button2.pull-right#open-button
        img.center-block.img-responsive(src="http://s5.postimg.org/5b245o843/menu_Mobile.png")

    .menu-wrap
      nav.menu
        .icon-list
          a.smoothScroll(href="/#screen1")#close-button2 INICIO
          a.smoothScroll(href="/#screen2")#close-button3 EL POR QUÉ
          a.smoothScroll(href="/#screen2-1")#close-button4 SERVICIOS
          a.smoothScroll(href="/#screen3-1")#close-button5 CLIENTES
          a.smoothScroll(href="/#screen4-1")#close-button6 CONTACTO
      button.close-button#close-button


    section#screen1
      <!-- Begin video and image background-->
      #video-container
          video.widthFix#video(autoplay onended="run()")
            source(src="/video/1.mp4" type="video/mp4")
           

      <!-- End video background-->
         
      .container.bounceLeft
        .col-sm-5
          img.logoIntro(src="http://s5.postimg.org/awx9hu6mv/logo.png" alt="Desarrollo web")
          h1.introHero AYUDAMOS COMPAÑÍAS A REINVENTAR SU NEGOCIO!
          p.introText Creamos relaciones más valiosas y rentables con sus clientes pasados, presentes y futuros a través de la diferenciación competitiva en la experiencia digital que brindan. 

          nav.cl-effect-2.porqueBtn
            a.smoothScroll(href="#screen2") 
              span.porque(data-hover="POR QUÉ LO HACEMOS?")   POR QUÉ LO HACEMOS?


    .menuCanned.full
          ul.nav.navbar-nav.full#sticky
              li
                img.square.logo(src="http://s5.postimg.org/54x5aowsz/logo_Chapa.png" alt="Experiencia digital")
              li.linkMenu(style="margin-left: 2%;")
                nav.cl-effect-13
                  a.smoothScroll(href="/#screen1") INICIO
              li.linkMenu
                a ♦   
              li.linkMenu
                nav.cl-effect-13
                  a.smoothScroll(href="/#screen2") EL POR QUÉ
               li.linkMenu
                a ♦  
              li.linkMenu
                nav.cl-effect-13
                  a.smoothScroll(href="/#screen2-1") SERVICIOS
              li.linkMenu
                a ♦   
              li.linkMenu
                nav.cl-effect-13
                  a.smoothScroll(href="/#screen3-1") CLIENTES
              li.linkMenu
                a ♦
              li.linkMenu
                nav.cl-effect-13
                  a.smoothScroll(href="/#screen4-1") CONTACTO


    section#screen2     
      .imageService2.why
         
            h1.contTitle3 POR QUÉ LO HACEMOS? 
            p.contText3 Las personas son bombardeados con muchas opciones, se espera que las empresas provean experiencias digitales atractivas y recompensen a sus clientes por su lealtad.
            br

            h1.contTitle5 QUÉ HACEMOS?
            p.contText3 Diseñamos y desarrollamos estrategias personalizadas para implementar nuevas interacciones y tecnologías robustas en las diferentes etapas de la experiencia del cliente en tu empresa.

            nav.cl-effect-2
              a.smoothScroll(href="#screen2-1") 
                span.porque(data-hover="Nuestros Servicios") Nuestros Servicios  

      .imageService
        .col-sm-10.col-sm-offset-1.fadeInDown
          h1.contTitle Enfócate menos en que bonito es tu producto y más en que tan valiosa es la experiencia que le brindas a tu cliente. 
    section#screen2-1
      
    section#screen3
      .col-sm-8.column1
          p.contTitle6 NUESTROS SERVICIOS
          p.contText.forja Forjamos relaciones digitales entre empresas y clientes, creando experiencias que transforman y hacen crecer tu negocio.
          

      .grid.col-sm-4.column2
          figure.effect-julia
            .col-sm-12.iconoServicio
              span.glyphicon.glyphicon-tower(alt="Estrategia Digital")
              h5 VER MAS
            img(src="http://s5.postimg.org/o3mphd2c7/service1.png" alt="Estrategia Análisis")
            figcaption.col-sm-12
              h2 Estrategia y Análisis
              div.col-sm-12
                p.Sline Estrategia de marketing digital 
                p.Sline Diagnóstico/Diseño de experiencias digitales con tu cliente
                
                

      .grid.col-sm-4.column2
          figure.effect-julia
            .col-sm-12.iconoServicio
              span
                img.center-block(src="http://s5.postimg.org/8yvngykgj/service2icon.png" alt="Páginas Web")
                h5 VER MAS

            img(src="http://s5.postimg.org/w99tcmwwn/service2.png" alt="Desarrollo Digital")
            figcaption.col-sm-12
              h2 Desarrollo
              div.col-sm-10
                p.Sline Páginas web 
                p.Sline Tiendas Viertuales
                p.Sline Apps Móviles 
                p.Sline Sistemas de gestión y CRM 
            

      .grid.col-sm-4.column2
          figure.effect-julia
            .col-sm-12.iconoServicio
              span
                img.center-block(src="http://s5.postimg.org/wr4yshmhf/service3icon.png" alt="Social media")
                h5(style="margin-top:-3%;") VER MAS
            img(src="http://s5.postimg.org/ss7r9nxuf/service3.png" alt="Redes sociales")
            figcaption.col-sm-12
              h2 Social Media 
              div.col-sm-10 
                p.Sline Fidelización digital de tu cliente
                p.Sline Construcción de  tu marca online
              

      .grid.col-sm-4.column2
          figure.effect-julia
            .col-sm-12.iconoServicio
              span.glyphicon.glyphicon-heart
              h5 VER MAS
            img(src="http://s5.postimg.org/3xo9fld07/service4.png" alt="Mision")
            figcaption.col-sm-12
              h2 Pasión
              div.col-sm-10 
                p.Sline.pasion AMAMOS 
                p.Sline.pasion LO QUE
                p.Sline.pasion HACEMOS! 

      
    section#screen3-1
    section#screen4
      .full.clienteTitle
          h1.contTitle4 NUESTROS CLIENTES

      .col-md-4.columnC2.fadeInRight
       
          p.contText.forja2 Ellos han confiado en nosotros!! 
          br
          p "Escogí Canned para diseñar mi página web corporativa, fueron profesionales de principio a fin. Muchas Gracias"
          p.pull-right - Argeda Services & Solutions          
          br
          br
          br
          p "Me ha parecido profesional y muy efectivo el trabajo del equipo. El proyecto abarca bastantes requerimientos y se logró terminar en un corto tiempo"
          p.pull-right - Fundación Cepytin
          br
          br
          b
          nav.cl-effect-8.lets
            a.smoothScroll.letsW(href="/#screen4-1") ALGUNA IDEA?

      .col-md-8.columnC1
        .col-xs-4.client
          img.img-responsive(src="http://s5.postimg.org/3v4dsr9cj/argeda.png" alt="cliente1")
        .col-xs-4.client
          img.img-responsive(src="http://s5.postimg.org/5vuxdl5hv/zyner.png" alt="cliente2")
        .col-xs-4.client
          img.img-responsive(src="http://s5.postimg.org/tpe6ij9cj/cepy.png" alt="cliente3")
        .col-xs-4.client
          img.img-responsive(src="http://s5.postimg.org/catya9c7n/reno.png" alt="cliente4")
        .col-xs-4.client
          img.img-responsive(src="http://s5.postimg.org/vl5k7fnkj/apo.png" alt="cliente5")
        .col-xs-4.client
          img.img-responsive(src="http://s5.postimg.org/z3hk3togj/iura.png" alt="cliente6")


  
    section#screen4-1
    section#screen5

      .col-sm-12.columnCon2
            img.img-responsive.letsContact.center-block(src="http://s5.postimg.org/vpp8r972v/letswork2.png" alt="trabajo digital")  
            br
      
            p.contactText Si tienes curiosidad y quieres escuchar más de nuestros servicios, no dudes en hacer contacto. Las mejores relaciones se construyen hablando cara a cara. Y nosotros estamos dispuestos a hacerlo :)  
            br
          
            form(action="/landing", method="post")              
                .form-group
                  input.fieldContact(type="text", name="user", placeholder="Nombre" required)             
                .form-group
                  input.fieldContact(type="email" name="email" placeholder="E-mail" required)
                .form-group             
                  textarea.fieldContact.textArea(name="message" placeholder="Mensaje" required)
    
                .form-group.shake
                  input.boton(type="submit", value="CONTÁCTANOS")







    script(src="/js/classie.js")
    script.
     $(document).ready(function(){
              $(".fakeLoader").fakeLoader({

                  timeToHide:3000,
                  bgColor:"#333",
                  spinner:"spinner4"
              });
              
          });

      video_count =1;
      videoPlayer = document.getElementById("video");
    

      function run(){
              corre=true;
              video_count++;
              if (video_count == 4) video_count = 1;
              var nextVideo = "video/"+video_count+".mp4";
              videoPlayer.src = nextVideo;
              $("video").fadeIn(1000,function(){
                });
                 
         }

    script.
      $(document).ready(function(){
       $("#sticky").sticky({topSpacing:0});

      });

    
    script.
      function sizeVideo(e){
          if(typeof e=="undefined"){
              e=getDocumentRatio()
          }
          if(e<9/16){
              $("video").removeClass("heightFix").addClass("widthFix");
              $("#image").removeClass("heightFix").addClass("widthFix")
          } else {
              $("video").removeClass("widthFix").addClass("heightFix");
              $("#image").removeClass("widthFix").addClass("heightFix");
          }
      }

      document.body.style.backgroundImage="none";

      var wh=$(window).height();
      var ww=$(window).width();
      var ratio=wh/ww;sizeVideo(ratio);

      window.onresize=function(){
          var e=$(window).height();
          var t=$(window).width();
          var n=e/t;sizeVideo(n)
      }  

      var  mn = $(".main-nav");
          mns = "main-nav-scrolled";
          hdr = $('header').height();

      $(window).scroll(function() {
        if( $(this).scrollTop() > hdr ) {
          mn.addClass(mns);
        } else {
          mn.removeClass(mns);
        }
      });  

      
 
     


    

    

    
  